In [3]:
import pandas as pd
import numpy as np

In [4]:
hwm = pd.read_csv("hawaii_measurements.csv")

In [6]:
hs = pd.read_csv("hawaii_stations.csv")

In [8]:
hs

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
hwm.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
hs.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [8]:
hwm.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [10]:
hs.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [15]:
hwm.isnull().values.sum()

1447

In [35]:
hs.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [24]:
na_prcp = round(np.mean(hwm.prcp), 2)

In [26]:
clean_hwm = hwm.fillna(value=na_prcp)

In [32]:
clean_csv= pd.merge(left = clean_hwm, right = hs, how = "outer", on  = "station")

In [33]:
clean_csv.to_csv("clean_.csv")

In [34]:
clean_hwm.to_csv("clean1_.csv", )

In [36]:
hs.to_csv("clean2_.csv")